@{
    ViewData["Title"] = "Circunferencia";
}

<div class="text-center">
    <h1 class="display-4">Circunferencia de una esfera</h1>
    <h1 class="display-4">r = 5</h1>
    <h3 class="display-4">circunferencia = 2 * PI * r</h3>
    <h4 class="display-4">Circunferencia = 31.4159</h4>
</div>
