@{
    ViewData["Title"] = "Superficie";
}

<div class="text-center">
    <h1 class="display-4">Superficie de una esfera</h1>
    <h1 class="display-3">r = 5, superficie = 4*pi*r^2</h1>
    <h1 class="display-2">superficie= 14.159</h1>
</div>

